*{
  transition: all 0.3s ease-out;
}

body{
  margin: 0px;
  font-family: 'Source Code Pro', monospace;
  background: #333;
  color: #ccc;
}

.outer{
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  height: 100vh;
  width: 100%;
  float: left;
  display: table;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-size: 300% 100%;
  animation: animateBG;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.inner{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@keyframes animateBG{
  0%{
    background-position: left;
  }

  50%{
    background-position: right;
  }

  100%{
    background-position: left;
  }
}

.panel{
  float: left;
  width: 100%;
}

.pnl{
  max-width: 1280px;
  margin: 0 auto;
}

.button{
  color: #fff;
  display: inline-block;
  line-height: 40px;
  padding: 0px 40px 0px 40px;
  background: #ccc;
  background: rgba(255,255,255,0.2);
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 3px;
}

.button:hover{
  background: #fff;
  background: rgba(255,255,255,0.4);
}

#info{
  font-size: 13px;
  opacity: 0.5;
}

img{
  margin-top: 20px;
  width: 96px;
  height: 96px;
}